net "r[0]"                   loc =r9;
net "r[1]"                   loc =t8;
net "r[2]"                   loc =r8;
net "g[0]"                   loc =n8;
net "g[1]"                   loc =p8;
net "g[2]"                   loc =p6;
net "b[1]"                   loc =u4;
net "b[2]"                   loc =u5;
net "hc"                     loc =t4;
net "vc"                     loc =u3;
net "clk"                  loc =b8;
//net "data[0]"                   loc =p11;
//net "data[1]"                   loc =l3;
//net "data[2]"                   loc =k3;
//net "data[3]"                   loc =b4;
//net "data[4]"                   loc =g3;
//net "data[5]"                   loc =f3;
//net "data[6]"                   loc =e2;
//net "data[7]"                   loc =n3;
#net "hs"                   loc =j14;
#net "vs"                   loc =k13;
#net "clock"                   loc =b8;
